.buttonClearDisplay {
  display: none;
}

.form {
  display: flex;
  height: 35px;

  width: 100%;
}

.app {
  width: 50%;
  margin: auto;
}

.footer {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
